# Question With Answer

Question )  Write to reverse a list by using function ?

In [1]:
def reverse():
    x = ["yogesh", "kamal", 56, 85.5, "shiva"]
    x.reverse()
    print(x)
reverse()

['shiva', 85.5, 56, 'kamal', 'yogesh']

Question )  Write to swap a first and last no of the list by using function ?

In [3]:
def swap():
    x = ["yogesh", 76, "raju", 84]
    x[-1] = "yogesh"
    x[0] = 84
    print(x)
swap()

[84, 76, 'raju', 'yogesh']

Question )  Write to find maximum no in a list by using Function ?

In [7]:
def maxi():
    x = [102, 298, 763, 674]
    maximum = x[0]
    for i in x:
        if i > maximum:
            maximum = i
    print("Greatest Number is ",maximum)
maxi()

Greatest Number is  763

Question )  Write to find minimum no in a list by using Function ?

In [9]:
def mini():
    z = [567, 102, 298, 763, 674]
    minimum = z[0]
    for i in z:
        if i < minimum:
            minimum = i
    print("Minimum Number is ",minimum)
mini()

Minimum Number is  102

Question )  Write to sum of the no present in a list by using Function ?

In [11]:
def add():
    a = [34, 45, 89, 56]
    b = 0
    for i in a:
        b = i + b
    print(b)
add()

224

Question )  Write to print even no in a list?

In [18]:
a = [98, 54, 73, 23, 65, 44, 134]
for i in a:
    if i%2==0:
        print("The even no is ",i)

The even no is  98
The even no is  54
The even no is  44
The even no is  134

Question )  Write to print odd no in a list by using function ?

In [19]:
x = [98, 54, 73, 23, 65, 44, 134]
for i in x:
    if i%2!=0:
        print("The odd no is ",i)

The odd no is  73
The odd no is  23
The odd no is  65

Question )  Write to find common element in the list by using function ?

In [26]:
def element():
    a = [34, 45, 89, 56]
    b = [67, 89, 23, 90]
    for i in a:
        for j in b:
            if i == j:
                print(i)
element()

89

Question )  Write a program to count odd and even no in a list by using function ?

In [29]:
def even():
    x = [78, 89, 45, 23, 100]
    count_even = 0
    count_odd = 0
    for i in x:
        if i%2==0:
            print("This is even no.",i)
            count_even = count_even + 1
        else:
            count_odd = count_odd + 1
            print("This is odd no ",i)
    print("count even no ",count_even)
    print("count odd no ",count_odd)
even()

This is even no. 78
This is odd no  89
This is odd no  45
This is odd no  23
This is even no. 100
count even no  2
count odd no  3

Question )  Write a program to create single element list by using function ?

In [30]:
def single():
    x = [88]
    print(x)
    print(type(x))
single()

[88]
<class 'list'>

Question )  Write a program to create empty list by using function ?

In [31]:
def empty():
    y = []
    print(y)
    print(type(y))
empty()

[]
<class 'list'>

Question )  Write a program to add data in a tuple by using function ?

In [43]:
def add():
    a = (34, 45, 67, 90, 1, 3, 54)
    b = list(a)
    b.append(24)
    c = tuple(b)
    print(c)
add()

(34, 45, 67, 90, 1, 3, 54, 24)

Question )  Write a program to delete(remove) data in a tuple by using Function ?

In [44]:
def delete():
    a = (69, 85, 24, 65, 55)
    x = list(a)
    x.remove(65)
    d = tuple(x)
    print(d)
delete()

(69, 85, 24, 55)

Question )  Write a program to add more than one in a tuple by using Function ?

In [52]:
def addd():
    x = (65, 85, 75, 31)
    y = list(x)
    y.extend([69, 45, 23])
    z = tuple(y)
    print(z)
addd()

(65, 85, 75, 31, 69, 45, 23)

Question )  Write a program to make a dict of employ having name, emp_id, and salary by using Function ?

In [54]:
def employ():
    x = {
        'name'   : "Yogesh",
        'emp_id' :  5487565,
        'salary' :  56000
    }
    print(x)
employ()

{'name': 'Yogesh', 'emp_id': 5487565, 'salary': 56000}

Question )  Write a program to make single element dict by using function ?

In [59]:
def single():
    y = {
        'name' :  "",
    }
    print(y)
single()

{'name': ''}

Question ) Write a program to make empty dict by using function ?

In [62]:
def empty():
    z = {

    }
    print(z)
    print(type(z))
empty()

{}
<class 'dict'>

Question )  Write a program to make a dict of employ having name, emp_id, and salary and get emp_id by using Function ?

In [65]:
def employ():
    x = {
        'name'   : 'yogesh',
        'emp_id' :  5685421,
        'salary' :  65000
    }
    c = x.get("emp_id")
    print("the employ id is ",c)
employ()

the employ id is  5685421

Question )  Write a program to make a dict of employ having name, emp_id, and salary and use find function by using Function ?

In [66]:
def items():
    a = {
        'name'   :   "kamal",
        'emp_id' :  564521,
        'salary' :  65300
    }
    b = a.items()
    print(b)
items()

dict_items([('name', 'kamal'), ('emp_id', 564521), ('salary', 65300)])

Question )  Write a program to make a dict of employ having name, emp_id, and salary and copy this another variable by using Function ?

In [67]:
def copy():
    z = {
        'name'    : "shiva",
        'emp_id'  :  564215,
        'salary'  :  54800
    }
    e = z.copy()
    print(e)
copy()

{'name': 'shiva', 'emp_id': 564215, 'salary': 54800}

Question )  Write a program to make a dict of employ having name, emp_id, and salary and find keys by using Function ?

In [68]:
def keys():
    y = {
        'name'   :  "Rockey",
        'emp_id' :   5686542,
        'salary' :   63200
    }
    z = y.keys()
    print(z)
keys()

dict_keys(['name', 'emp_id', 'salary'])

Question )  Write a program to make a dict of employ having name, emp_id, and salary and using pop function delete employ id by using Function ?

In [72]:
def pops():
    k = {
        'name'   :  "yogesh",
        'emp_id' :   652324,
        'salary' :   65420
    }
    y = k.pop('emp_id')
    print(k)
pops()

{'name': 'yogesh', 'salary': 65420}

Question )  Write a program to make a dict of employ having name, emp_id, and update salary by using Function ?

In [75]:
def salary():
    z = {
        'name'  : 'yogesh',
        'emp_id': 546254 
    }
    x = {
        'salary' : 32500
    }
    z.update(x)
    print(z)
salary()

{'name': 'yogesh', 'emp_id': 546254, 'salary': 32500}

Question )  Write a program to make a dict of employ having name, emp_id, and salary and find values by using Function ?

In [77]:
def values():
    a = {
        'name'    :   "kamal",
        'emp_id'  :   4552154,
        'salary'  :  65300
    }
    c = a.values()
    print(c)
values()

dict_values(['kamal', 4552154, 65300])

Question )  Write a program to make a dict of employ having name, emp_id, and salary after that clear all data by using Function ?

In [78]:
def clear():
    e = {
        'name'   :  "Shiva",
        'emp_id' :  652100,
        'salary' :  63200
    }
    e.clear()
    print(e)
clear()

{}

In [ ]:
sets

In [81]:
def sets():
    x = {45, 25, 65, 32}
    print(x)
    print(type(x))
sets()

{32, 65, 45, 25}
<class 'set'>

In [ ]:
sets --- > add

In [82]:
def add():
    x = {10, 20, 30}
    x.add(50)
    print(x)
add()

{10, 20, 50, 30}

In [ ]:
sets ---- > set()

In [83]:
def sets():
    x = [10, 20, 30]
    s = set(x)
    print(s)
    print(type(s))
sets()

{10, 20, 30}
<class 'set'>

In [ ]:
sets ----- > pop()

In [85]:
def pop():
    x = {12, 25, 65, 35}
    x.pop()
    print(x)
pop()

{35, 12, 25}

In [ ]:
sets ---- > remove()

In [86]:
def remove():
    y = {25, 36, 24, 54}
    y.remove(24)
    print(y)
remove()

{25, 36, 54}

In [ ]:
sets ---- > clear()

In [87]:
def clear():
    y = {25, 36, 24, 54}
    y.clear()
    print(y)
clear()

set()

In [ ]:
sets ---- > discard()

In [88]:
def discard():
    y = {25, 36, 24, 54}
    y.discard(36)
    print(y)
discard()

{24, 25, 54}

In [ ]:
sets ---- > update()

In [89]:
def update():
    y = {25, 36, 24, 54}
    z = {24, 36, 54, 87, 77}
    y.update(z)
    print(y)
update()

{36, 77, 54, 87, 24, 25}